<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="row">
        {{#each images}}
            <img src='data:image/jpeg;base64,{{this}}'/>
        {{/each}}
      
      </div>
  </body>
</html>
